<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.dao.Report_inforMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.gmall.entity.Report_infor" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="threads" property="threads" jdbcType="VARCHAR" />
    <result column="sourcefile" property="sourcefile" jdbcType="VARCHAR" />
    <result column="starttime" property="starttime" jdbcType="VARCHAR" />
    <result column="endtime" property="endtime" jdbcType="VARCHAR" />
    <result column="filterdisplay" property="filterdisplay" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, threads, sourcefile, starttime, endtime, filterdisplay
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from report_infor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from report_infor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.gmall.entity.Report_infor" >
    insert into report_infor (id, threads, sourcefile, 
      starttime, endtime, filterdisplay
      )
    values (#{id,jdbcType=INTEGER}, #{threads,jdbcType=VARCHAR}, #{sourcefile,jdbcType=VARCHAR}, 
      #{starttime,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR}, #{filterdisplay,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atguigu.gmall.entity.Report_infor" >
    insert into report_infor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="threads != null" >
        threads,
      </if>
      <if test="sourcefile != null" >
        sourcefile,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="filterdisplay != null" >
        filterdisplay,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="threads != null" >
        #{threads,jdbcType=VARCHAR},
      </if>
      <if test="sourcefile != null" >
        #{sourcefile,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="filterdisplay != null" >
        #{filterdisplay,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.gmall.entity.Report_infor" >
    update report_infor
    <set >
      <if test="threads != null" >
        threads = #{threads,jdbcType=VARCHAR},
      </if>
      <if test="sourcefile != null" >
        sourcefile = #{sourcefile,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="filterdisplay != null" >
        filterdisplay = #{filterdisplay,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.gmall.entity.Report_infor" >
    update report_infor
    set threads = #{threads,jdbcType=VARCHAR},
      sourcefile = #{sourcefile,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=VARCHAR},
      endtime = #{endtime,jdbcType=VARCHAR},
      filterdisplay = #{filterdisplay,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>