<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.dao.StatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.gmall.entity.Statistics" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uploadid" property="uploadid" jdbcType="INTEGER" />
    <result column="perfstarttime" property="perfstarttime" jdbcType="VARCHAR" />
    <result column="lastruntime" property="lastruntime" jdbcType="CHAR" />
    <result column="scriptname" property="scriptname" jdbcType="VARCHAR" />
    <result column="threads" property="threads" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="samples" property="samples" jdbcType="VARCHAR" />
    <result column="ko" property="ko" jdbcType="VARCHAR" />
    <result column="error" property="error" jdbcType="VARCHAR" />
    <result column="average" property="average" jdbcType="VARCHAR" />
    <result column="min" property="min" jdbcType="VARCHAR" />
    <result column="max" property="max" jdbcType="VARCHAR" />
    <result column="thpct90" property="thpct90" jdbcType="VARCHAR" />
    <result column="thpct95" property="thpct95" jdbcType="VARCHAR" />
    <result column="thpct99" property="thpct99" jdbcType="VARCHAR" />
    <result column="median" property="median" jdbcType="VARCHAR" />
    <result column="throughput" property="throughput" jdbcType="VARCHAR" />
    <result column="received" property="received" jdbcType="VARCHAR" />
    <result column="sent" property="sent" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="starttime" property="starttime" jdbcType="VARCHAR" />
    <result column="endtime" property="endtime" jdbcType="VARCHAR" />
    <result column="jtlpath" property="jtlpath" jdbcType="VARCHAR" />
    <result column="indexpath" property="indexpath" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uploadid,perfstarttime, lastruntime, scriptname, threads, `label`, samples, ko, error, average,
    `min`, `max`, thpct90, thpct95, thpct99, median, throughput, received, sent, ip, starttime, 
    endtime, jtlpath, indexpath, `state`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from statistics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from statistics
    where id = #{id,jdbcType=INTEGER}
  </delete>



  <delete id="deleteAll" >
    truncate  table statistics
  </delete>


  <update id="updateStatus_0_1"    parameterType="java.lang.Integer">
    update statistics set
    state= 1
    where state = #{state,jdbcType=INTEGER}
  </update>


  <update id="updateStatus_1_2"   parameterType="java.lang.Integer">
    update statistics set state = 2
    where state = #{state,jdbcType=INTEGER}
  </update>



  <update id="updatePerfLastRunTime"   parameterType="java.lang.Integer">
    update statistics set lastruntime = #{lastruntime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectSimpleReport" resultType="map">
    SELECT
    id,scriptname,threads,label,samples,error,average,min,max,thpct90,thpct95,thpct99,median,throughput,ip,starttime,endtime,jtlpath,indexpath,state,received,sent
    FROM
    (
    select id,uploadid,perfstarttime,lastruntime,scriptname,threads,label,samples,error,average,min,max,thpct90,thpct95,thpct99,median,throughput,ip,starttime,endtime,jtlpath,indexpath,state,received,sent
    from statistics  ORDER BY id ASC
    )t
    <if test="criterions != null">
      <include refid="where_clause" />
    </if>
    order by id asc
  </select>



  <!--  随时查询当前进度报告   -->
  <select id="selectProgressReport" resultType="com.atguigu.gmall.entity.Statistics">
    select id,scriptname,threads,label,samples,error,average,min,max,thpct90,thpct95,thpct99,median,throughput,ip,starttime,endtime,jtlpath,indexpath,state,received,sent
    from statistics  where state = #{state,jdbcType=INTEGER}  ORDER BY id asc
  </select>





  <select id="selectByAll" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from statistics
    where scriptname like #{scriptname}
  </select>



  <select id="queryApiExecuteSumCount" resultType="map">
    select * from statistics
    <if test="criterions != null">
      <include refid="where_clause" />
    </if>
  </select>



  <select id="queryApiExecuteLog4Manage" resultType="map">
    SELECT
    *
    FROM
    (
    select * from statistics  order by id desc
    )t
    <if test="criterions != null">
      <include refid="where_clause" />
    </if>
     order by starttime desc, id desc
  </select>



  <sql id="where_clause">
    <where>
      <foreach collection="criterions" index="index" item="criterion"
               open="" separator="" close="">
        <choose>
          <when test="criterion.noValue">
            and ${criterion.condition}
          </when>
          <when test="criterion.singleValue">
            and ${criterion.condition} #{criterion.value}
          </when>
          <when test="criterion.betweenValue">
            and ${criterion.condition} #{criterion.value} and
            #{criterion.secondValue}
          </when>
          <when test="criterion.listValue">
            and ${criterion.condition}
            <foreach collection="criterion.value" item="listItem"
                     open="(" close=")" separator=",">
              #{listItem}
            </foreach>


          </when>
        </choose>
      </foreach>
    </where>
  </sql>





















  <insert id="insert" parameterType="com.atguigu.gmall.entity.Statistics" >
    insert into statistics (uploadid,perfstarttime, lastruntime,
      scriptname, threads, `label`, 
      samples, ko, error, 
      average, `min`, `max`, 
      thpct90,median, thpct95, thpct99, 
      throughput, received, sent, 
      ip, starttime, endtime, 
      jtlpath, indexpath, `state`
      )
    values ( #{uploadid,jdbcType=INTEGER}, #{perfstarttime,jdbcType=VARCHAR},#{lastruntime,jdbcType=CHAR},
      #{scriptname,jdbcType=VARCHAR}, #{threads,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, 
      #{samples,jdbcType=VARCHAR}, #{ko,jdbcType=VARCHAR}, #{error,jdbcType=VARCHAR}, 
      #{average,jdbcType=VARCHAR}, #{min,jdbcType=VARCHAR}, #{max,jdbcType=VARCHAR}, 
      #{thpct90,jdbcType=VARCHAR}, #{median,jdbcType=VARCHAR}, #{thpct95,jdbcType=VARCHAR}, #{thpct99,jdbcType=VARCHAR}, 
      #{throughput,jdbcType=VARCHAR}, #{received,jdbcType=VARCHAR}, #{sent,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{starttime,jdbcType=VARCHAR}, #{endtime,jdbcType=VARCHAR}, 
      #{jtlpath,jdbcType=VARCHAR}, #{indexpath,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atguigu.gmall.entity.Statistics" >
    insert into statistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uploadid != null" >
        uploadid,
      </if>
      <if test="lastruntime != null" >
        lastruntime,
      </if>
      <if test="scriptname != null" >
        scriptname,
      </if>
      <if test="threads != null" >
        threads,
      </if>
      <if test="label != null" >
        `label`,
      </if>
      <if test="samples != null" >
        samples,
      </if>
      <if test="ko != null" >
        ko,
      </if>
      <if test="error != null" >
        error,
      </if>
      <if test="average != null" >
        average,
      </if>
      <if test="min != null" >
        `min`,
      </if>
      <if test="max != null" >
        `max`,
      </if>
      <if test="thpct90 != null" >
        thpct90,
      </if>
      <if test="thpct95 != null" >
        thpct95,
      </if>
      <if test="thpct99 != null" >
        thpct99,
      </if>
      <if test="throughput != null" >
        throughput,
      </if>
      <if test="received != null" >
        received,
      </if>
      <if test="sent != null" >
        sent,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="jtlpath != null" >
        jtlpath,
      </if>
      <if test="indexpath != null" >
        indexpath,
      </if>
      <if test="state != null" >
        `state`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uploadid != null" >
        #{uploadid,jdbcType=INTEGER},
      </if>
      <if test="lastruntime != null" >
        #{lastruntime,jdbcType=CHAR},
      </if>
      <if test="scriptname != null" >
        #{scriptname,jdbcType=VARCHAR},
      </if>
      <if test="threads != null" >
        #{threads,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="samples != null" >
        #{samples,jdbcType=VARCHAR},
      </if>
      <if test="ko != null" >
        #{ko,jdbcType=VARCHAR},
      </if>
      <if test="error != null" >
        #{error,jdbcType=VARCHAR},
      </if>
      <if test="average != null" >
        #{average,jdbcType=VARCHAR},
      </if>
      <if test="min != null" >
        #{min,jdbcType=VARCHAR},
      </if>
      <if test="max != null" >
        #{max,jdbcType=VARCHAR},
      </if>
      <if test="thpct90 != null" >
        #{thpct90,jdbcType=VARCHAR},
      </if>
      <if test="thpct95 != null" >
        #{thpct95,jdbcType=VARCHAR},
      </if>
      <if test="thpct99 != null" >
        #{thpct99,jdbcType=VARCHAR},
      </if>
      <if test="throughput != null" >
        #{throughput,jdbcType=VARCHAR},
      </if>
      <if test="received != null" >
        #{received,jdbcType=VARCHAR},
      </if>
      <if test="sent != null" >
        #{sent,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="jtlpath != null" >
        #{jtlpath,jdbcType=VARCHAR},
      </if>
      <if test="indexpath != null" >
        #{indexpath,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.gmall.entity.Statistics" >
    update statistics
    <set >
      <if test="uploadid != null" >
        uploadid = #{uploadid,jdbcType=INTEGER},
      </if>
      <if test="lastruntime != null" >
        lastruntime = #{lastruntime,jdbcType=CHAR},
      </if>
      <if test="scriptname != null" >
        scriptname = #{scriptname,jdbcType=VARCHAR},
      </if>
      <if test="threads != null" >
        threads = #{threads,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        `label` = #{label,jdbcType=VARCHAR},
      </if>
      <if test="samples != null" >
        samples = #{samples,jdbcType=VARCHAR},
      </if>
      <if test="ko != null" >
        ko = #{ko,jdbcType=VARCHAR},
      </if>
      <if test="error != null" >
        error = #{error,jdbcType=VARCHAR},
      </if>
      <if test="average != null" >
        average = #{average,jdbcType=VARCHAR},
      </if>
      <if test="min != null" >
        `min` = #{min,jdbcType=VARCHAR},
      </if>
      <if test="max != null" >
        `max` = #{max,jdbcType=VARCHAR},
      </if>
      <if test="thpct90 != null" >
        thpct90 = #{thpct90,jdbcType=VARCHAR},
      </if>
      <if test="thpct95 != null" >
        thpct95 = #{thpct95,jdbcType=VARCHAR},
      </if>
      <if test="thpct99 != null" >
        thpct99 = #{thpct99,jdbcType=VARCHAR},
      </if>
      <if test="throughput != null" >
        throughput = #{throughput,jdbcType=VARCHAR},
      </if>
      <if test="received != null" >
        received = #{received,jdbcType=VARCHAR},
      </if>
      <if test="sent != null" >
        sent = #{sent,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="jtlpath != null" >
        jtlpath = #{jtlpath,jdbcType=VARCHAR},
      </if>
      <if test="indexpath != null" >
        indexpath = #{indexpath,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        `state` = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.gmall.entity.Statistics" >
    update statistics
    set uploadid = #{uploadid,jdbcType=INTEGER},
      lastruntime = #{lastruntime,jdbcType=CHAR},
      scriptname = #{scriptname,jdbcType=VARCHAR},
      threads = #{threads,jdbcType=VARCHAR},
      `label` = #{label,jdbcType=VARCHAR},
      samples = #{samples,jdbcType=VARCHAR},
      ko = #{ko,jdbcType=VARCHAR},
      error = #{error,jdbcType=VARCHAR},
      average = #{average,jdbcType=VARCHAR},
      `min` = #{min,jdbcType=VARCHAR},
      `max` = #{max,jdbcType=VARCHAR},
      thpct90 = #{thpct90,jdbcType=VARCHAR},
      thpct95 = #{thpct95,jdbcType=VARCHAR},
      thpct99 = #{thpct99,jdbcType=VARCHAR},
      throughput = #{throughput,jdbcType=VARCHAR},
      received = #{received,jdbcType=VARCHAR},
      sent = #{sent,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=VARCHAR},
      endtime = #{endtime,jdbcType=VARCHAR},
      jtlpath = #{jtlpath,jdbcType=VARCHAR},
      indexpath = #{indexpath,jdbcType=VARCHAR},
      `state` = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>






  <!-- linkTypeReport报告 -->
  <select id="linkTypeReport" resultType="com.atguigu.gmall.entity.Statistics">
    select *  from statistics  where uploadid= #{uploadid,jdbcType=INTEGER} and perfstarttime = #{perfstarttime,jdbcType=VARCHAR } and label like concat('%', #{label}, '%')  ORDER BY id asc
  </select>


  <!-- historylinkTypeReport报告 -->
  <select id="historyLinkTypeReport" resultType="com.atguigu.gmall.entity.Statistics">
    select *  from statistics  where uploadid= #{uploadid,jdbcType=INTEGER} and scriptname like concat('%', #{scriptname}, '%') and label like concat('%', #{label}, '%')  ORDER BY id asc
  </select>



  <!-- 成功数  -->
  <select id="linkTypeReportSucessCount" resultType="com.atguigu.gmall.entity.Statistics">
    select *  from statistics  where uploadid= #{uploadid,jdbcType=INTEGER} and perfstarttime = #{perfstarttime,jdbcType=VARCHAR } and ko =#{ko,jdbcType=VARCHAR } and locate('Total',label)=0   ORDER BY id asc
  </select>


  <!-- 历史成功数  -->
  <select id="historyLinkTypeReportSucessCount" resultType="com.atguigu.gmall.entity.Statistics">
    select *  from statistics  where uploadid= #{uploadid,jdbcType=INTEGER} and scriptname like concat('%', #{scriptname}, '%')  and ko =#{ko,jdbcType=VARCHAR } and locate('Total',label)=0   ORDER BY id asc
  </select>



  <!-- 失败数  -->
  <select id="linkTypeReportFailCount" resultType="com.atguigu.gmall.entity.Statistics">
    select *  from statistics  where uploadid= #{uploadid,jdbcType=INTEGER} and perfstarttime = #{perfstarttime,jdbcType=VARCHAR } and ko !='0.00' and locate('Total',label)=0   ORDER BY id asc
  </select>


  <!-- 历史失败数  -->
  <select id="historyLinkTypeReportFailCount" resultType="com.atguigu.gmall.entity.Statistics">
    select *  from statistics  where uploadid= #{uploadid,jdbcType=INTEGER} and scriptname like concat('%',#{scriptname}, '%')  and ko !='0.00' and locate('Total',label)=0   ORDER BY id asc
  </select>




  <!-- detailQueryTypeReport报告 -->
  <select id="detailQueryTypeReport" resultType="com.atguigu.gmall.entity.Statistics">
    select *  from statistics  where perfstarttime = #{perfstarttime,jdbcType=VARCHAR }  ORDER BY id asc
  </select>


  <!-- detailHistoryQueryTypeReport报告 -->
  <select id="detailHistoryQueryTypeReport" resultType="com.atguigu.gmall.entity.Statistics">
    select *  from statistics  where scriptname like concat('%', #{scriptname}, '%')  ORDER BY starttime desc
  </select>


  <!-- historyReportTypeReport报告 -->
  <select id="historyReportTypeReport" resultType="com.atguigu.gmall.entity.Statistics">
    select *  from statistics  where scriptname like concat('%', #{scriptName}, '%')  and label like concat('%', #{label}, '%')  ORDER BY id asc
  </select>






</mapper>